<html>
	<head>
		<title> My Weather </title>
	</head>

	<body>
		<h1> My Weather </h1>
		
		<div>
			<p> Select Saved City </p>
			{% if cities %}
			<select>
				<option value="" disabled="disabled" selected="selected">Please select a city</option>
				{% for c in cities %}
				<option>{{c.cityName}}</option>
				{% endfor %}
			</select>
			{% endif %}
			<p> -or Enter new city </p>
			<input type="text" name="cityname">
		    <button type="button">Enter</button>
		</div> </br>
		</br>
		{{ temp.name }}
		<p> Current Tempeture </p> {{ temp.main.temp }}
		
	</body>
</html>